<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footer-section">
    <footer class="footer">
        <div class="container">
            <div class="footer-container">
                <div class="footer-brand">

                </div>
            </div>
            <div class="footer-bottom">
                <p>&copy; 2026 Jyoti Rani. All rights reserved.</p>
                <div class="footer-social">
                    <a href="tel:+918002523847" class="social-link">
                        <i class="fas fa-phone-alt"></i>
                    </a>
                    <a href="mailto:ranijyoti65447@gmail.com" class="social-link">
                        <i class="fas fa-envelope"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/jyoti-rani-2844511b6/" target="_blank" class="social-link">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a href="https://github.com/Jyoti-create" target="_blank" class="social-link">
                        <i class="fab fa-github"></i>
                    </a>
                </div>

            </div>
        </div>
    </footer>
</th:block>
</html>